<h1>{{game.name}}</h1>
<div>Game State: {{game.state}}</div>
<div>Owner: {{game.owner}}</div>
{{#if canStartGame}}
<form action="/api/games/{{game.id}}/start" method="post">
    <button name="start-button" value="start">Start Game</button>
</form>
{{/if}}
{{#if isInProgress}}
<form action="/api/games/{{game.id}}/end" method="post">
    <button name="end-button" value="end">End Game</button>
</form>
{{/if}}
<div>Number of players: {{game.numberOfPlayers}}</div>
<div>Players:</div>
<ul>
{{#each game.players}}
	<li>{{this}}</li>
{{/each}}
</ul>
{{#if canJoinGame}}
<a href='/api/games/{{game.id}}/join'>Join Game!</a>
{{/if}}

{{#if isInProgress}}
<div>Currently it is {{currentPlayer}}'s turn</div>
{{/if}}
{{#if isUsersTurn}}
<a href='/api/games/{{game.id}}/endTurn'>End Your Turn</a>
{{/if}}

<div>More stuff here soon...</div>